@{
    ViewBag.Title = "Confirmation";
}
<h2>Confirmation</h2>

<p>
    Thank you for registering. Please check your email for a confirmation request with
    a link that will confirm your account.
</p>
